services:
  api:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      POSTGRES_USER: eventrelayuser
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: eventrelay
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: eventrelayuser
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: eventrelay
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U eventrelayuser -d eventrelay"]
      interval: 5s
      timeout: 5s
      retries: 5
  
volumes:
  postgres_data: